<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>com.apple.developer.associated-domains</key>
    <array>
        <string>applinks:circle.app</string>
    </array>
    <key>com.apple.developer.camera</key>
    <array>
        <string>camera</string>
    </array>
    <key>com.apple.developer.location</key>
    <array>
        <string>location</string>
    </array>
    <key>com.apple.developer.microphone</key>
    <array>
        <string>microphone</string>
    </array>
    <key>com.apple.developer.networking.wifi-info</key>
    <array>
        <string>wifi-info</string>
    </array>
    <key>com.apple.security.app-sandbox</key>
    <true/>
    <key>com.apple.security.files.user-selected.read-write</key>
    <true/>
    <key>com.apple.security.network.client</key>
    <true/>
    <key>com.apple.security.network.server</key>
    <true/>
</dict>
</plist> 